In [23]:
import pandas as pd
import numpy as np

### Data : 1 'House Rental Data'

In [24]:
house_rental = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt')
house_rental.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000

## 1. Load rental data with first column as index column (Solved)

In [25]:
house_rental = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt',index_col = 'Unnamed: 0')
house_rental.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

### 2. Find all houses which has more than 2 bedroom and price less than 50k

In [26]:
house_rental[(house_rental['Bedroom']>3) & (house_rental['Price'] < 50000)].head()

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
13   1352.040      9          19        4            2         2  39000
62    889.500      2           4        4            1         1  32000
78   1522.824      5          12        4            2         2  40000
81   1558.404      5           7        4            2         2  48800
137  1921.320      4           7        4            2         2  48000

In [27]:
#renaming the column
house_rental.rename(columns = {'Living.Room':'living_room'},inplace = True)

In [28]:
house_rental.head()

       Sqft  Floor  TotalFloor  Bedroom  living_room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

### 3. Find all houses which has more than 3 bedroom and price less than 50k. Update their price with 60k

In [29]:
house_rental.loc[(house_rental['Bedroom'] > 3) & (house_rental['Price'] < 50000),'Price'] = 60000
house_rental[(house_rental['Price']) == 60000].head()

        Sqft  Floor  TotalFloor  Bedroom  living_room  Bathroom  Price
13  1352.040      9          19        4            2         2  60000
38   768.528      4           4        3            2         2  60000
62   889.500      2           4        4            1         1  60000
78  1522.824      5          12        4            2         2  60000
81  1558.404      5           7        4            2         2  60000

### 
4. Find no of house who's price is updated in previous question.

In [30]:
house_rental = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt')
price60 = house_rental.apply(lambda x: True if ((x['Bedroom']>3) & (x['Price']<50000)) else False, axis=1)
count = len(price60[price60==True].index)
count

23

### 5. Find average price of house.

In [31]:
house_rental.Price.mean()

61986.82325581396

### 6. Find average price of house respective to bedroom.
example : avg price of house of 1 bedroom then 2 ...so on

In [32]:
bedroom = house_rental['Bedroom'].max()
bedroom
for i in range  (1,bedroom+1):
    h = house_rental[(house_rental['Bedroom']==i)]
    avg_price = h['Price'].mean()
    print(f'Average price of house with {i} Bedroom : {avg_price}')

Average price of house with 1 Bedroom : 35549.086956521736
Average price of house with 2 Bedroom : 47131.68944099379
Average price of house with 3 Bedroom : 65030.94979079498
Average price of house with 4 Bedroom : 77745.43478260869
Average price of house with 5 Bedroom : 117000.0
Average price of house with 6 Bedroom : 180000.0
Average price of house with 7 Bedroom : 180000.0

###

### 7. Find details of house whose price is highest.

In [33]:
price = house_rental['Price'].max()
house_rental[house_rental['Price'] == price]

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
286,289,3504.63,13,14,2,2,2,250000

### 8. Sort the given data by price in ascending order

In [34]:
sorted = house_rental.sort_values("Price",axis = 0 , ascending = True)
sorted.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
609,613,996.24,4,5,3,2,1,6100
404,408,604.86,5,5,2,0,1,11900
620,624,711.60,1,1,3,1,1,12000
371,375,426.96,9,12,1,0,1,13000
273,276,533.70,7,12,1,1,1,17000

### 9. Display all details of house with 1 bedroom first then 2 bedroom.. and so on.
Note use Groupby then describe

In [35]:
h = house_rental.groupby("Bedroom")
h.describe()

        Bathroom                                               Floor  \
           count      mean       std  min  25%  50%  75%  max  count
Bedroom
1           69.0  1.043478  0.267603  1.0  1.0  1.0  1.0  3.0   69.0
2          161.0  1.385093  0.513105  1.0  1.0  1.0  2.0  3.0  161.0
3          239.0  1.970711  0.470986  0.0  2.0  2.0  2.0  4.0  239.0
4          161.0  2.198758  0.568110  1.0  2.0  2.0  2.0  5.0  161.0
5           13.0  3.000000  1.154701  1.0  2.0  3.0  4.0  4.0   13.0
6            1.0  5.000000       NaN  5.0  5.0  5.0  5.0  5.0    1.0
7            1.0  4.000000       NaN  4.0  4.0  4.0  4.0  4.0    1.0

                    ...   TotalFloor       Unnamed: 0                          \
              mean  ...          75%   max      count        mean         std
Bedroom             ...
1         6.304348  ...         14.0  26.0       69.0  338.536232  182.186603
2         6.024845  ...         13.0  21.0      161.0  313.378882  179.492198
3         5.640167  ...         14.0  38.0      239.0  336.564854  195.087017
4         5.689441  ...         14.0  27.0      161.0  315.534161  184.792993
5        10.769231  ...         21.0  24.0       13.0  267.230769  179.004262
6         7.000000  ...         21.0  21.0        1.0  576.000000         NaN
7        15.000000  ...         19.0  19.0        1.0  625.000000         NaN


           min    25%    50%    75%    max
Bedroom
1          8.0  214.0  349.0  490.0  646.0
2          1.0  172.0  316.0  461.0  637.0
3          4.0  164.5  341.0  515.5  648.0
4          2.0  143.0  308.0  475.0  643.0
5         21.0  108.0  303.0  360.0  570.0
6        576.0  576.0  576.0  576.0  576.0
7        625.0  625.0  625.0  625.0  625.0

[7 rows x 56 columns]

### 10. Display all details of each house with 1 bedroom first then 2 bedroom.. and so on.

In [36]:
h = house_rental.groupby(['Bedroom','Price'])
h.describe()

               Bathroom                                                Floor  \
                  count      mean       std  min   25%  50%   75%  max count
Bedroom Price
1       13000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        17000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        19000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        20000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        22000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        23000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        23800       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        24800       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        24888       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        25000       5.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   5.0
        26000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        27500       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        28000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        28800       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        29000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        29500       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        30000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        31000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        33000       2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   2.0
        34000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        35000       5.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   5.0
        36000       6.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   6.0
        38000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        38800       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        39000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        40000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        42000       3.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   3.0
        43000       3.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   3.0
        45000       4.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   4.0
        47999       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
...                 ...       ...       ...  ...   ...  ...   ...  ...   ...
4       98000      10.0  2.300000  0.483046  2.0  2.00  2.0  2.75  3.0  10.0
        99999       1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        100000     11.0  2.272727  0.467099  2.0  2.00  2.0  2.50  3.0  11.0
        105000      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        108000      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        110000      4.0  2.000000  0.000000  2.0  2.00  2.0  2.00  2.0   4.0
        120000      2.0  5.000000  0.000000  5.0  5.00  5.0  5.00  5.0   2.0
        129999      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        130000      2.0  4.500000  0.707107  4.0  4.25  4.5  4.75  5.0   2.0
        135000      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        138000      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0   1.0
        138888      3.0  2.000000  0.000000  2.0  2.00  2.0  2.00  2.0   3.0
        145000      1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0   1.0
        148000      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        149999      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
        150000      3.0  2.333333  0.577350  2.0  2.00  2.0  2.50  3.0   3.0
        160000      1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0   1.0
5       55000       1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0   1.0
        56000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        60000       1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0   1.0
        80000       1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0   1.0
        89000       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0   1.0
        100000      2.0  3.000000  1.414214  2.0  2.50  3.0  3.50  4.0   2.0
        140000      2.0  4.000000  0.000000  4.0  4.00  4.0  4.00  4.0   2.0
        145000      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0   1.0
        170000      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0   1.0
        180000      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0   1.0
        206000      1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0   1.0
6       180000      1.0  5.000000       NaN  5.0  5.00  5.0  5.00  5.0   1.0
7       180000      1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0   1.0

                           ...   TotalFloor       Unnamed: 0              \
                     mean  ...          75%   max      count        mean
Bedroom Price              ...
1       13000    9.000000  ...        12.00  12.0        1.0  375.000000
        17000    4.500000  ...        12.00  12.0        2.0  360.000000
        19000   22.000000  ...        26.00  26.0        1.0  369.000000
        20000   13.000000  ...        14.00  14.0        1.0  532.000000
        22000    8.500000  ...        11.50  14.0        2.0  244.000000
        23000    5.000000  ...        13.00  13.0        1.0   66.000000
        23800    3.000000  ...        12.00  12.0        1.0  206.000000
        24800    4.000000  ...        10.00  10.0        1.0  645.000000
        24888    4.000000  ...         7.00   7.0        1.0  349.000000
        25000    7.000000  ...        14.00  16.0        5.0  213.400000
        26000   10.000000  ...        12.75  13.0        2.0  289.000000
        27500    5.500000  ...        12.25  14.0        2.0   67.000000
        28000    4.500000  ...         8.75  10.0        2.0  464.000000
        28800    7.000000  ...         7.00   7.0        1.0  579.000000
        29000    2.000000  ...        12.00  12.0        1.0  416.000000
        29500    5.000000  ...        11.00  11.0        1.0  355.000000
        30000    8.000000  ...        12.00  12.0        1.0  612.000000
        31000    7.000000  ...        13.25  14.0        2.0  302.500000
        33000    4.000000  ...         6.75   7.0        2.0  344.500000
        34000    7.000000  ...         7.00   7.0        1.0  423.000000
        35000    3.600000  ...        12.00  12.0        5.0  379.200000
        36000    6.500000  ...        14.00  14.0        6.0  328.666667
        38000    2.000000  ...         9.00   9.0        1.0  194.000000
        38800    6.000000  ...        14.00  14.0        1.0  490.000000
        39000    6.000000  ...        14.00  14.0        1.0  367.000000
        40000    3.000000  ...         6.00   6.0        1.0  535.000000
        42000    6.333333  ...         9.00   9.0        3.0  337.666667
        43000   11.000000  ...        14.00  14.0        3.0  357.666667
        45000    8.750000  ...        10.25  14.0        4.0  421.500000
        47999   10.000000  ...        14.00  14.0        1.0  562.000000
...                   ...  ...          ...   ...        ...         ...
4       98000    5.600000  ...        12.00  25.0       10.0  363.000000
        99999    2.000000  ...         7.00   7.0        1.0  114.000000
        100000   3.545455  ...        14.00  17.0       11.0  368.181818
        105000   2.000000  ...        14.00  14.0        1.0  474.000000
        108000   2.000000  ...        14.00  14.0        1.0  484.000000
        110000  10.500000  ...        25.00  25.0        4.0  405.500000
        120000   4.000000  ...         7.00   7.0        2.0  323.000000
        129999   5.000000  ...        12.00  12.0        1.0  606.000000
        130000   4.000000  ...         7.00   7.0        2.0  136.000000
        135000  14.000000  ...        18.00  18.0        1.0  471.000000
        138000  16.000000  ...        21.00  21.0        1.0  544.000000
        138888   5.000000  ...        12.00  12.0        3.0  483.666667
        145000  21.000000  ...        24.00  24.0        1.0   28.000000
        148000  11.000000  ...        12.00  12.0        1.0    6.000000
        149999   5.000000  ...         6.00   6.0        1.0  118.000000
        150000   4.666667  ...        18.50  21.0        3.0  396.666667
        160000   3.000000  ...         9.00   9.0        1.0  245.000000
5       55000    7.000000  ...        16.00  16.0        1.0  360.000000
        56000    3.000000  ...        12.00  12.0        1.0  340.000000
        60000    1.000000  ...         7.00   7.0        1.0  570.000000
        80000   12.000000  ...        12.00  12.0        1.0  108.000000
        89000   12.000000  ...        12.00  12.0        1.0  511.000000
        100000   8.500000  ...        17.00  21.0        2.0  346.000000
        140000  19.000000  ...        21.00  21.0        2.0   81.500000
        145000  21.000000  ...        24.00  24.0        1.0   41.000000
        170000  19.000000  ...        21.00  21.0        1.0  331.000000
        180000   1.000000  ...         6.00   6.0        1.0   55.000000
        206000   9.000000  ...        13.00  13.0        1.0  303.000000
6       180000   7.000000  ...        21.00  21.0        1.0  576.000000
7       180000  15.000000  ...        19.00  19.0        1.0  625.000000


                       std    min     25%    50%     75%    max
Bedroom Price
1       13000          NaN  375.0  375.00  375.0  375.00  375.0
        17000   118.793939  276.0  318.00  360.0  402.00  444.0
        19000          NaN  369.0  369.00  369.0  369.00  369.0
        20000          NaN  532.0  532.00  532.0  532.00  532.0
        22000   175.362482  120.0  182.00  244.0  306.00  368.0
        23000          NaN   66.0   66.00   66.0   66.00   66.0
        23800          NaN  206.0  206.00  206.0  206.00  206.0
        24800          NaN  645.0  645.00  645.0  645.00  645.0
        24888          NaN  349.0  349.00  349.0  349.00  349.0
        25000   207.683172   18.0   29.00  226.0  269.00  525.0
        26000     8.485281  283.0  286.00  289.0  292.00  295.0
        27500     2.828427   65.0   66.00   67.0   68.00   69.0
        28000    11.313708  456.0  460.00  464.0  468.00  472.0
        28800          NaN  579.0  579.00  579.0  579.00  579.0
        29000          NaN  416.0  416.00  416.0  416.00  416.0
        29500          NaN  355.0  355.00  355.0  355.00  355.0
        30000          NaN  612.0  612.00  612.0  612.00  612.0
        31000   412.243253   11.0  156.75  302.5  448.25  594.0
        33000   333.047294  109.0  226.75  344.5  462.25  580.0
        34000          NaN  423.0  423.00  423.0  423.00  423.0
        35000   134.668853  214.0  313.00  336.0  491.00  542.0
        36000   204.649619   57.0  244.50  269.5  458.75  618.0
        38000          NaN  194.0  194.00  194.0  194.00  194.0
        38800          NaN  490.0  490.00  490.0  490.00  490.0
        39000          NaN  367.0  367.00  367.0  367.00  367.0
        40000          NaN  535.0  535.00  535.0  535.00  535.0
        42000    89.985184  241.0  297.00  353.0  386.00  419.0
        43000   233.530155  164.0  228.00  292.0  454.50  617.0
        45000   173.815036  228.0  336.00  406.0  491.50  646.0
        47999          NaN  562.0  562.00  562.0  562.00  562.0
...                    ...    ...     ...    ...     ...    ...
4       98000   188.256326   26.0  300.25  381.0  475.75  614.0
        99999          NaN  114.0  114.00  114.0  114.00  114.0
        100000  166.017359  129.0  207.00  428.0  476.00  626.0
        105000         NaN  474.0  474.00  474.0  474.00  474.0
        108000         NaN  484.0  484.00  484.0  484.00  484.0
        110000  135.669943  222.0  343.50  443.0  505.00  514.0
        120000  101.823376  251.0  287.00  323.0  359.00  395.0
        129999         NaN  606.0  606.00  606.0  606.00  606.0
        130000   69.296465   87.0  111.50  136.0  160.50  185.0
        135000         NaN  471.0  471.00  471.0  471.00  471.0
        138000         NaN  544.0  544.00  544.0  544.00  544.0
        138888  207.521886  249.0  404.00  559.0  601.00  643.0
        145000         NaN   28.0   28.00   28.0   28.00   28.0
        148000         NaN    6.0    6.00    6.0    6.00    6.0
        149999         NaN  118.0  118.00  118.0  118.00  118.0
        150000  256.074859  106.0  300.50  495.0  542.00  589.0
        160000         NaN  245.0  245.00  245.0  245.00  245.0
5       55000          NaN  360.0  360.00  360.0  360.00  360.0
        56000          NaN  340.0  340.00  340.0  340.00  340.0
        60000          NaN  570.0  570.00  570.0  570.00  570.0
        80000          NaN  108.0  108.00  108.0  108.00  108.0
        89000          NaN  511.0  511.00  511.0  511.00  511.0
        100000   62.225397  302.0  324.00  346.0  368.00  390.0
        140000   85.559921   21.0   51.25   81.5  111.75  142.0
        145000         NaN   41.0   41.00   41.0   41.00   41.0
        170000         NaN  331.0  331.00  331.0  331.00  331.0
        180000         NaN   55.0   55.00   55.0   55.00   55.0
        206000         NaN  303.0  303.00  303.0  303.00  303.0
6       180000         NaN  576.0  576.00  576.0  576.00  576.0
7       180000         NaN  625.0  625.00  625.0  625.00  625.0

[262 rows x 48 columns]

In [37]:
hc_df = pd.read_excel('C:\\Users\\saket\\Downloads\\HealthCareData-1.xlsx')
hc_df.head()

,S.NO,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
0,1,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
1,2,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,3,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,4,55,male,rural,12,2,branded liquor,negative,negative,NO,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
4,5,55,female,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES

### 1. Display all the information respective to gender

In [38]:
gender = hc_df.groupby(['Gender','Age'])
gender.describe()

                AL.Phosphatase      (U/L)                                \
                                    count        mean        std    min
Gender      Age
female      32                        8.0  119.000000   0.000000  119.0
            35                        8.0   76.000000   0.000000   76.0
            36                        2.0  108.000000  45.254834   76.0
            37                        3.0  116.000000  34.641016   76.0
            38                       12.0  104.500000  16.670606   96.0
            40                        2.0  118.000000  31.112698   96.0
            42                        9.0  100.333333   7.000000   98.0
            43                        2.0  139.000000  57.982756   98.0
            47                        2.0  156.000000   0.000000  156.0
            48                       11.0  178.818182  27.102834  124.0
            49                       12.0  153.250000   4.070403  151.0
            50                        6.0  136.000000  30.006666  114.0
            51                       10.0  102.000000   0.000000  102.0
            52                        3.0  129.333333  44.286943   98.0
            53                        1.0  152.000000        NaN  152.0
            54                        2.0  120.500000  12.020815  112.0
            55                       19.0  145.578947   6.058197  140.0
            56                       20.0  162.000000  45.143047  118.0
            57                        2.0  156.500000   0.707107  156.0
            58                       10.0  160.400000   5.561774  148.0
            60                       10.0  141.700000   7.273239  121.0
            62                       22.0  118.090909  12.215950  110.0
            65                        9.0  136.000000   0.000000  136.0
            78                        9.0  160.000000   0.000000  160.0
            80                        1.0  160.000000        NaN  160.0
female      35                        1.0   90.000000        NaN   90.0
            45                        2.0  110.000000   0.000000  110.0
            50                        2.0  120.000000   0.000000  120.0
            54                        4.0  104.000000  12.000000   86.0
            72                        2.0  110.000000   0.000000  110.0
...                                   ...         ...        ...    ...
male        39                       10.0  196.000000   0.000000  196.0
            40                       19.0  122.736842  16.920868  100.0
            42                       63.0  117.920635  28.340272   98.0
            43                       20.0  162.200000  21.685795   98.0
            44                       12.0  116.416667  11.642074   98.0
            45                       30.0  137.133333  18.227931  112.0
            46                       39.0  131.769231  30.915387  100.0
            47                        4.0  123.000000  38.105118   90.0
            48                       56.0  121.178571  18.324457   70.0
            49                       25.0  162.160000  12.947587  142.0
            50                       65.0  127.738462  22.330806  100.0
            51                       11.0  139.000000  13.379088  110.0
            52                       47.0  120.617021  25.278925   56.0
            53                       10.0  110.000000   0.000000  110.0
            54                       18.0  135.055556  16.801513   86.0
            55                       36.0  136.805556  20.256667  104.0
            56                       13.0  107.384615  12.305408  102.0
            57                       33.0  142.818182  15.979390  117.0
            58                       27.0  141.851852   9.444997   98.0
            59                        2.0  167.000000  24.041631  150.0
            60                       30.0  124.000000  22.584706   98.0
            61                        2.0  144.000000  56.568542  104.0
            62                       36.0  130.833333  30.781720   98.0
            63                        9.0  178.000000   0.000000  178.0
            64                       11.0  116.727273  22.311839  110.0
            65                        9.0  110.000000   0.000000  110.0
            67                        1.0  178.000000        NaN  178.0
            68                       10.0  160.000000   0.000000  160.0
            70                       10.0  134.000000   0.000000  134.0
transgender 47                        5.0  156.000000   0.000000  156.0

                                              Albumin   (g/dl)             \
                    25%    50%     75%    max            count       mean
Gender      Age
female      32   119.00  119.0  119.00  119.0              8.0   3.200000
            35    76.00   76.0   76.00   76.0              8.0   2.000000
            36    92.00  108.0  124.00  140.0              2.0   3.000000
            37   106.00  136.0  136.00  136.0              3.0   2.466667
            38    96.00   96.0  101.00  146.0             12.0   3.200000
            40   107.00  118.0  129.00  140.0              2.0   2.550000
            42    98.00   98.0   98.00  119.0              9.0   1.333333
            43   118.50  139.0  159.50  180.0              2.0   1.800000
            47   156.00  156.0  156.00  156.0              2.0   3.200000
            48   191.00  191.0  191.00  191.0             11.0   1.927273
            49   151.00  151.0  153.25  160.0             12.0   3.175000
            50   120.00  120.0  143.25  191.0              6.0   2.566667
            51   102.00  102.0  102.00  102.0             10.0   2.000000
            52   104.00  110.0  145.00  180.0              3.0   1.733333
            53   152.00  152.0  152.00  152.0              1.0   2.500000
            54   116.25  120.5  124.75  129.0              2.0   2.800000
            55   140.00  140.0  152.00  152.0             19.0   4.763158
            56   118.00  162.0  206.00  206.0             20.0   1.950000
            57   156.25  156.5  156.75  157.0              2.0   1.900000
            58   163.00  163.0  163.00  163.0             10.0   2.810000
            60   144.00  144.0  144.00  144.0             10.0   2.730000
            62   110.00  115.5  121.00  163.0             22.0   1.559091
            65   136.00  136.0  136.00  136.0              9.0   2.700000
            78   160.00  160.0  160.00  160.0              9.0   3.200000
            80   160.00  160.0  160.00  160.0              1.0   3.200000
female      35    90.00   90.0   90.00   90.0              1.0   4.200000
            45   110.00  110.0  110.00  110.0              2.0   4.200000
            50   120.00  120.0  120.00  120.0              2.0   4.500000
            54   104.00  110.0  110.00  110.0              4.0   4.450000
            72   110.00  110.0  110.00  110.0              2.0   4.200000
...                 ...    ...     ...    ...              ...        ...
male        39   196.00  196.0  196.00  196.0             10.0   1.800000
            40   108.00  108.0  140.00  140.0             19.0   1.668421
            42    98.00  110.0  122.00  184.0             63.0   1.985714
            43   156.00  156.0  180.00  180.0             20.0   2.905000
            44   115.00  115.0  115.00  150.0             12.0   2.750000
            45   112.00  139.0  156.00  156.0             40.0   2.377500
            46   107.50  130.0  155.00  184.0             39.0   3.446154
            47    90.00  123.0  156.00  156.0              4.0   3.700000
            48   111.00  124.0  140.00  156.0             56.0   2.628571
            49   150.00  160.0  178.00  178.0             16.0   2.987500
            50   114.00  120.0  130.00  180.0             65.0   2.416923
            51   145.00  145.0  145.00  145.0             11.0  18.400000
            52   110.00  111.0  135.00  158.0             47.0   3.055319
            53   110.00  110.0  110.00  110.0             10.0   2.000000
            54   129.00  138.5  148.00  148.0             18.0   3.250000
            55   106.00  150.0  150.00  150.0             36.0   2.316667
            56   102.00  102.0  102.00  135.0             13.0   1.769231
            57   137.00  156.0  157.00  157.0             33.0   3.048485
            58   140.00  142.0  148.00  150.0             27.0   2.759259
            59   158.50  167.0  175.50  184.0              2.0   1.950000
            60   104.00  112.0  156.00  156.0             30.0   2.416667
            61   124.00  144.0  164.00  184.0              2.0   1.450000
            62   110.00  114.0  140.00  184.0             36.0   2.063889
            63   178.00  178.0  178.00  178.0              9.0   2.400000
            64   110.00  110.0  110.00  184.0             11.0   2.172727
            65   110.00  110.0  110.00  110.0              9.0   3.000000
            67   178.00  178.0  178.00  178.0              1.0   2.400000
            68   160.00  160.0  160.00  160.0             10.0   2.500000
            70   134.00  134.0  134.00  134.0             10.0   1.600000
transgender 47   156.00  156.0  156.00  156.0              5.0   3.200000

                ...  Total Count          Total Protein     (g/dl)            \
                ...          75%      max                    count      mean
Gender      Age ...
female      32  ...      8200.00   8200.0                      8.0  5.800000
            35  ...      1800.00   1800.0                      8.0  7.100000
            36  ...      5250.00   6400.0                      2.0  6.650000
            37  ...      7800.00   7800.0                      3.0  6.766667
            38  ...      6500.00  11050.0                     12.0  5.233333
            40  ...     10807.50  12410.0                      1.0  5.000000
            42  ...      7000.00   8200.0                      9.0  4.200000
            43  ...      9167.50   9890.0                      1.0  4.000000
            47  ...      9800.00   9800.0                      2.0  6.500000
            48  ...      7100.00  10500.0                     11.0  6.009091
            49  ...     11800.00  12003.0                     12.0  6.425000
            50  ...      7400.00  11800.0                      6.0  5.600000
            51  ...      7000.00   7000.0                     10.0  8.000000
            52  ...      7330.00   8660.0                      3.0  4.333333
            53  ...      8000.00   8000.0                      1.0  5.000000
            54  ...      7300.00   7400.0                      2.0  5.300000
            55  ...      8900.00  11000.0                     19.0  5.789474
            56  ...      8500.00   9000.0                     20.0  5.200000
            57  ...     11157.75  11810.0                      1.0  6.000000
            58  ...      6800.00   8000.0                     10.0  6.080000
            60  ...     11800.00  11800.0                     10.0  6.260000
            62  ...      9210.00  11800.0                     22.0  5.172727
            65  ...     11800.00  12000.0                      9.0  6.600000
            78  ...      8500.00   8500.0                      9.0  6.000000
            80  ...      8500.00   8500.0                      1.0  6.000000
female      35  ...      7000.00   7000.0                      1.0  7.400000
            45  ...      7000.00   7000.0                      2.0  5.900000
            50  ...      7000.00   7000.0                      2.0  6.900000
            54  ...      7000.00   7000.0                      4.0  5.775000
            72  ...      7000.00   7000.0                      2.0  5.300000
...             ...          ...      ...                      ...       ...
male        39  ...      8200.00   8200.0                     10.0  4.600000
            40  ...     12410.00  12410.0                     10.0  5.800000
            42  ...      7200.00  12000.0                     63.0  4.473016
            43  ...      9905.00  10540.0                     15.0  5.646667
            44  ...     12000.00  12000.0                     12.0  5.716667
            45  ...      8695.00  11800.0                     30.0  4.000000
            46  ...      7000.00   8900.0                     39.0  6.153846
            47  ...      9800.00   9800.0                      4.0  6.450000
            48  ...     10500.00  12300.0                     56.0  6.033929
            49  ...     11858.00  13000.0                     25.0  5.232000
            50  ...      8000.00  10100.0                     65.0  5.390769
            51  ...      9100.00   9100.0                     11.0  4.836364
            52  ...      9600.00  11504.0                     47.0  5.627660
            53  ...      7000.00   7000.0                     10.0  6.000000
            54  ...      7800.00   8660.0                     18.0  6.744444
            55  ...      9875.00  11000.0                     36.0  5.525000
            56  ...      7000.00  11504.0                     13.0  4.484615
            57  ...     11000.00  11810.0                     26.0  6.638462
            58  ...     13000.00  13000.0                     27.0  5.918519
            59  ...      6300.00   8000.0                      2.0  5.000000
            60  ...      7200.00   8500.0                     30.0  5.723333
            61  ...      5700.00   7200.0                      2.0  4.000000
            62  ...     12050.00  12200.0                     26.0  3.961538
            63  ...      9450.00   9450.0                      9.0  5.600000
            64  ...      8763.00   8763.0                     11.0  7.909091
            65  ...      7000.00   7000.0                      9.0  6.000000
            67  ...      9450.00   9450.0                      1.0  5.600000
            68  ...          NaN      NaN                      0.0       NaN
            70  ...      7100.00   7100.0                     10.0  5.100000
transgender 47  ...      9800.00   9800.0                      5.0  6.500000


                          std  min    25%   50%    75%  max
Gender      Age
female      32   9.495027e-16  5.8  5.800  5.80  5.800  5.8
            35   9.495027e-16  7.1  7.100  7.10  7.100  7.1
            36   6.363961e-01  6.2  6.425  6.65  6.875  7.1
            37   2.886751e-01  6.6  6.600  6.60  6.850  7.1
            38   5.515817e-01  5.0  5.000  5.00  5.000  6.6
            40            NaN  5.0  5.000  5.00  5.000  5.0
            42   6.000000e-01  4.0  4.000  4.00  4.000  5.8
            43            NaN  4.0  4.000  4.00  4.000  4.0
            47   0.000000e+00  6.5  6.500  6.50  6.500  6.5
            48   3.360195e-01  5.0  6.100  6.10  6.100  6.2
            49   1.356801e-01  6.2  6.425  6.50  6.500  6.5
            50   1.691153e+00  3.0  4.525  6.30  6.875  7.0
            51   0.000000e+00  8.0  8.000  8.00  8.000  8.0
            52   1.154701e+00  3.0  4.000  5.00  5.000  5.0
            53            NaN  5.0  5.000  5.00  5.000  5.0
            54   1.838478e+00  4.0  4.650  5.30  5.950  6.6
            55   6.975312e-01  5.0  5.000  6.40  6.400  6.4
            56   1.231174e+00  4.0  4.000  5.20  6.400  6.4
            57            NaN  6.0  6.000  6.00  6.000  6.0
            58   3.794733e-01  5.0  6.200  6.20  6.200  6.2
            60   4.427189e-01  5.0  6.400  6.40  6.400  6.4
            62   4.547965e-01  5.0  5.000  5.00  5.000  6.6
            65   9.420555e-16  6.6  6.600  6.60  6.600  6.6
            78   0.000000e+00  6.0  6.000  6.00  6.000  6.0
            80            NaN  6.0  6.000  6.00  6.000  6.0
female      35            NaN  7.4  7.400  7.40  7.400  7.4
            45   0.000000e+00  5.9  5.900  5.90  5.900  5.9
            50   0.000000e+00  6.9  6.900  6.90  6.900  6.9
            54   2.500000e-01  5.4  5.775  5.90  5.900  5.9
            72   0.000000e+00  5.3  5.300  5.30  5.300  5.3
...                       ...  ...    ...   ...    ...  ...
male        39   9.362223e-16  4.6  4.600  4.60  4.600  4.6
            40   6.324555e-01  4.0  6.000  6.00  6.000  6.0
            42   1.299281e+00  3.0  3.000  4.00  5.600  6.8
            43   1.220578e+00  3.4  5.500  6.30  6.300  6.8
            44   8.632216e-01  3.0  6.000  6.00  6.000  6.0
            45   1.305162e+00  2.5  2.500  4.00  5.300  7.0
            46   1.267788e+00  3.0  5.000  6.00  7.000  8.0
            47   5.773503e-02  6.4  6.400  6.45  6.500  6.5
            48   1.326140e+00  4.0  5.000  6.05  7.000  8.0
            49   1.416192e+00  3.4  3.400  6.20  6.200  7.2
            50   1.777439e+00  3.0  4.000  6.60  7.000  7.4
            51   8.980788e-01  3.0  4.800  4.80  4.800  7.0
            52   1.036655e+00  4.0  5.000  6.00  6.600  7.1
            53   0.000000e+00  6.0  6.000  6.00  6.000  6.0
            54   6.354454e-01  5.0  6.600  6.90  7.200  7.2
            55   8.479808e-01  4.0  4.200  6.00  6.100  6.2
            56   9.209109e-01  4.0  4.000  4.00  4.000  6.1
            57   7.222614e-01  6.0  6.000  6.20  7.600  7.6
            58   1.196481e+00  4.3  4.300  6.20  7.200  7.2
            59   1.414214e+00  4.0  4.500  5.00  5.500  6.0
            60   1.239489e+00  4.0  4.075  6.00  7.000  7.4
            61   0.000000e+00  4.0  4.000  4.00  4.000  4.0
            62   8.708970e-01  3.0  3.000  4.00  5.000  5.0
            63   9.420555e-16  5.6  5.600  5.60  5.600  5.6
            64   1.296499e+00  4.0  8.300  8.30  8.300  8.3
            65   0.000000e+00  6.0  6.000  6.00  6.000  6.0
            67            NaN  5.6  5.600  5.60  5.600  5.6
            68            NaN  NaN    NaN   NaN    NaN  NaN
            70   9.362223e-16  5.1  5.100  5.10  5.100  5.1
transgender 47   0.000000e+00  6.5  6.500  6.50  6.500  6.5

[64 rows x 208 columns]

### 2. Find all the male who is consuming alcohal more than 5 years and has diabetes result positive.¶

In [39]:
h = hc_df[(hc_df['Gender'] == 'male') & (hc_df['Duration of alcohol consumption(years)'] > 5)]
h.head()

,S.NO,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
0,1,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
1,2,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,3,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,4,55,male,rural,12,2,branded liquor,negative,negative,NO,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
5,6,55,male,urban,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES

### 3. Find where more people consume alcohol in rural or urban?

In [40]:
rural = hc_df.apply(lambda x: True if x['Place(location where the patient lives)']=='rural' else False, axis=1)
count_rural = len(rural[rural==True].index)
urban = hc_df.apply(lambda x: True if x['Place(location where the patient lives)']=='urban' else False, axis=1)
count_urban = len(urban[urban==True].index)
if count_urban>count_rural:
    print("Urban's people consume more alcohal than rural's people")
else:
    print("Rural's people consume more alcohal than urban's people")

Rural's people consume more alcohal than urban's people

### 4. Find average age of male and female who consume alcohol.

In [41]:
female = hc_df[(hc_df['Gender']=='female')]
print(f'Female average age: {female.Age.mean()}')
male = hc_df[(hc_df['Gender']=='male')]
print(f'Male average age: {male.Age.mean()}')

Female average age: 52.54358974358974
Male average age: 50.115020297699594

### 5. Display distribution for different type of alcohol

In [42]:
d = hc_df.groupby(['Type of alcohol consumed'])

In [43]:
d.describe()

                         AL.Phosphatase      (U/L)                         \
                                             count        mean        std
Type of alcohol consumed
 branded liquor                                1.0  100.000000        NaN
both                                         287.0  138.965157  26.314375
branded liquor                               183.0  128.874317  27.078245
country liquor                               469.0  130.076759  27.676676

                                                               Age             \
                            min    25%    50%    75%    max  count       mean
Type of alcohol consumed
 branded liquor           100.0  100.0  100.0  100.0  100.0    1.0  46.000000
both                      100.0  118.0  139.0  156.0  191.0  288.0  50.909722
branded liquor             70.0  111.0  115.0  148.0  196.0  183.0  50.224044
country liquor             56.0  110.0  129.0  150.0  206.0  478.0  50.631799

                         ...  Total Count          Total Protein     (g/dl)  \
                         ...          75%      max                    count
Type of alcohol consumed ...
 branded liquor          ...       7000.0   7000.0                      1.0
both                     ...      11504.0  12410.0                    227.0
branded liquor           ...       8200.0  12300.0                    183.0
country liquor           ...       9100.0  13000.0                    478.0


                              mean       std  min  25%  50%  75%  max
Type of alcohol consumed
 branded liquor           5.000000       NaN  5.0  5.0  5.0  5.0  5.0
both                      5.503524  1.436837  3.0  4.0  6.1  6.4  8.0
branded liquor            4.880328  1.285056  3.0  4.0  4.6  6.0  7.4
country liquor            5.904603  1.144937  2.5  5.0  6.0  6.6  8.3

[4 rows x 216 columns]

### 6. Display average age of people who has diabetes positive.

In [48]:
diabetes = hc_df[(hc_df['Diabetes Result'] == 'YES')]

In [53]:
print(f"average age :",diabetes.Age.mean())

average age : 50.68006182380216

### 7. Find is there any missing value of age in given data.

In [57]:
diabetes[diabetes.Age.isnull()]

Empty DataFrame
Columns: [S.NO, Age, Gender, Place(location where the patient lives), Duration of alcohol consumption(years), Quantity of alcohol consumption (quarters/day), Type of alcohol consumed, Hepatitis B infection, Hepatitis C infection, Diabetes Result, Blood pressure (mmhg), Obesity, Family history of cirrhosis/ hereditary, TCH, TG, LDL, HDL, Hemoglobin  (g/dl), PCV  (%), RBC  (million cells/microliter), MCV   (femtoliters/cell), MCH  (picograms/cell), MCHC  (grams/deciliter), Total Count, Polymorphs  (%) , Lymphocytes  (%), Monocytes   (%), Eosinophils   (%), Basophils  (%), Platelet Count  (lakhs/mm), Total Bilirubin    (mg/dl), Direct    (mg/dl), Indirect     (mg/dl), Total Protein     (g/dl), Albumin   (g/dl), Globulin  (g/dl), A/G Ratio, AL.Phosphatase      (U/L), SGOT/AST      (U/L), SGPT/ALT (U/L), USG Abdomen (diffuse liver or  not), Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)]
Index: []

[0 rows x 42 columns]

### 8. If gender is male and age is less than 35 then change diabetes result to NO .

In [58]:
hc_df.loc[((hc_df['Gender']=='female') & (hc_df['Age']<35)),"Diabetes Result"]='NO'
hc_df[hc_df['Age']<35]

,S.NO,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
743,744,32,female,urban,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
753,754,32,female,urban,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
758,759,32,female,urban,14,2,branded liquor,Positive,Positive,NO,...,1.2,5.8,3.2,2.6,NaN,119.0,54,46,YES,YES
763,764,32,female,urban,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
768,769,32,female,NaN,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
773,774,32,female,rural,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
778,779,32,female,urban,14,2,both,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
783,784,32,female,urban,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES

### 9. Find all record where Place is missing.

In [59]:
hc_df.columns
hc_df.rename(columns={"Place(location where the patient lives)":"Place"},inplace=True)
hc_df[hc_df.Place.isnull()]

,S.NO,Age,Gender,Place,Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
190,191,50,male,NaN,28,3,both,Positive,Positive,YES,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,NaN
198,199,50,male,NaN,28,3,both,Positive,Positive,YES,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,YES
199,200,44,male,NaN,25,3,both,Positive,Positive,YES,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,YES
245,246,42,male,NaN,20,1,country liquor,negative,negative,YES,...,1.3,6.8,3.0,3.8,0.78,122.0,96,34,YES,YES
295,296,46,male,NaN,18,2,country liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,115.0,68,35,YES,YES
297,298,46,male,NaN,16,2,country liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,115.0,68,35,YES,YES
327,328,48,male,NaN,18,3,country liquor,negative,negative,YES,...,2.0,7.0,2.1,3.9,NaN,140.0,56,42,YES,YES
331,332,57,male,NaN,27,2,country liquor,negative,negative,YES,...,2.0,7.6,5.4,2.2,2.45,137.0,66,58,YES,YES
334,335,50,male,NaN,20,3,branded liquor,negative,negative,YES,...,1.6,7.4,2.6,4.8,NaN,126.0,59,44,YES,YES
357,358,48,male,NaN,18,2,country liquor,negative,negative,YES,...,3.0,6.2,2.5,3.1,NaN,124.0,54,40,YES,YES
360,361,48,male,NaN,25,2,country liquor,negative,negative,YES,...,2.0,5.8,2.2,3.6,NaN,140.0,120,44,YES,YES
375,376,56,female,NaN,32,1,country liquor,Positive,Positive,NO,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,NaN
376,377,60,male,NaN,36,2,both,negative,negative,NO,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,NaN
377,378,56,female,NaN,32,1,country liquor,Positive,Positive,NO,...,2.0,6.4,1.9,4.6,NaN,206.0,142,116,YES,YES
378,379,60,male,NaN,36,2,both,negative,negative,YES,...,2.1,7.0,2.1,4.9,NaN,156.0,76,49,YES,YES
391,392,56,female,NaN,32,1,country liquor,Positive,Positive,NO,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,YES
392,393,60,male,NaN,36,2,both,negative,negative,NO,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,YES
393,394,56,female,NaN,32,1,country liquor,Positive,Positive,NO,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,YES
394,395,60,male,NaN,36,2,both,negative,negative,NO,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,YES
395,396,55,female,NaN,20,2,country liquor,Positive,Positive,NO,...,1.5,5.0,2.5,2.5,01:01:00,152.0,172,180,YES,NaN
396,397,52,male,NaN,30,2,country liquor,negative,negative,YES,...,2.4,4.0,2.0,2.0,01:01:00,111.0,104,74,YES,NaN
397,398,78,female,NaN,40,4,country liquor,negative,negative,YES,...,2.0,6.0,3.2,2.8,00:01:00.875000,160.0,75,82,YES,NaN
398,399,42,male,NaN,18,2,country liquor,negative,negative,YES,...,4.4,5.6,1.6,4.0,00:01:03.500000,98.0,32,23,YES,NaN
399,400,55,male,NaN,22,2,both,negative,negative,NO,...,3.0,6.1,1.6,4.4,01:03:00,106.0,66,41,YES,NaN
400,401,35,female,NaN,16,2,country liquor,negative,negative,NO,...,2.2,7.1,2.0,5.1,01:03:00,76.0,59,48,YES,NaN
401,402,62,male,NaN,30,2,country liquor,negative,negative,NO,...,4.0,4.0,0.9,3.1,01:03:00,184.0,112,97,YES,NaN
402,403,38,female,NaN,16,1,country liquor,negative,negative,NO,...,1.0,5.0,3.0,2.0,1.5:1,96.0,90,60,YES,NaN
403,404,56,male,NaN,22,2,branded liquor,negative,negative,NO,...,4.4,4.0,1.5,2.5,0.6:1,102.0,94,86,YES,NaN
404,405,38,male,NaN,24,2,country liquor,negative,negative,NO,...,1.0,4.0,2.0,2.0,01:01:00,100.0,94,106,YES,NaN
405,406,46,male,NaN,22,2,both,negative,negative,NO,...,1.8,5.0,2.0,3.0,0.6:1,100.0,96,94,YES,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,683,60,male,NaN,30,3,both,negative,negative,YES,...,3.0,4.0,2.0,2.0,01:01:00,104.0,102,72,YES,YES
683,684,42,female,NaN,12,4,country liquor,negative,negative,NO,...,3.0,4.0,1.1,3.0,01:03:00,98.0,74,42,YES,YES
684,685,50,male,NaN,25,2,branded liquor,Positive,Positive,YES,...,2.5,3.0,1.2,2.8,02:03:00,180.0,200,106,YES,YES
685,686,42,male,NaN,22,3,both,negative,negative,NO,...,3.0,3.0,1.2,1.8,02:03:00,184.0,72,40,YES,YES
686,687,62,male,NaN,30,3,branded liquor,negative,negative,YES,...,3.6,3.0,2.0,1.0,02:01:00,114.0,70,72,YES,YES
687,688,45,male,NaN,10,2,branded liquor,negative,negative,NO,...,0.6,4.0,2.0,2.0,01:01:00,112.0,100,60,YES,YES
688,689,42,male,NaN,20,4,branded liquor,negative,negative,NO,...,4.0,3.0,1.0,2.0,01:02:00,112.0,74,40,YES,YES
689,690,42,male,NaN,15,2,branded liquor,Positive,Positive,NO,...,1.2,4.0,3.0,1.0,03:01:00,110.0,70,40,YES,YES
690,691,60,male,NaN,30,3,both,negative,negative,NO,...,3.0,4.0,2.0,2.0,01:01:00,104.0,102,72,YES,YES
691,692,42,male,NaN,12,4,country liquor,negative,negative,NO,...,3.0,4.0,1.1,3.0,01:03:00,98.0,74,42,YES,YES
692,693,50,male,NaN,25,1,both,Positive,Positive,YES,...,2.5,3.0,1.2,2.8,02:03:00,180.0,200,106,YES,YES
693,694,42,male,NaN,22,3,both,Positive,Positive,YES,...,3.0,3.0,1.2,1.8,02:03:00,184.0,72,40,YES,YES
694,695,62,male,NaN,30,3,branded liquor,negative,negative,YES,...,3.6,3.0,2.0,1.0,02:01:00,114.0,70,72,YES,YES
700,701,57,male,NaN,25,1,country liquor,negative,negative,YES,...,2.7,6.0,1.8,2.5,0.72,156.0,67,58,YES,YES
709,710,46,male,NaN,18,2,country liquor,negative,negative,YES,...,0.9,6.0,4.0,2.0,02:01:00,180.0,84,96,YES,YES
730,731,54,male,NaN,20,2,country liquor,negative,negative,YES,...,1.4,7.2,2.9,4.3,NaN,148.0,76,48,YES,YES
731,732,58,male,NaN,28,2,branded liquor,negative,negative,YES,...,3.0,6.2,3.2,3.0,NaN,148.0,68,24,YES,YES
732,733,54,male,NaN,18,2,country liquor,negative,negative,YES,...,2.4,6.6,3.6,3.0,NaN,129.0,66,38,YES,YES
768,769,32,female,NaN,14,2,branded liquor,negative,negative,NO,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
770,771,50,male,NaN,14,2,country liquor,negative,negative,YES,...,3.7,6.2,2.8,3.1,NaN,117.0,56,48,YES,YES
804,805,48,male,NaN,20,2,branded liquor,Positive,Positive,NO,...,1.5,5.0,2.5,2.5,01:01:00,124.0,110,70,YES,NaN
812,813,48,male,NaN,20,2,branded liquor,Positive,Positive,NO,...,1.5,5.0,2.5,2.5,01:01:00,124.0,110,70,YES,YES
833,834,42,male,NaN,10,3,branded liquor,negative,negative,NO,...,0.4,4.0,2.2,2.0,1900-01-01 00:00:00,100.0,72,60,YES,NaN
841,842,46,male,NaN,10,3,branded liquor,negative,negative,NO,...,0.4,4.0,2.2,2.0,01:01:00,100.0,72,60,YES,YES
842,843,42,male,NaN,10,3,branded liquor,negative,negative,NO,...,0.4,4.0,2.2,2.0,01:01:00,100.0,72,60,YES,YES
877,878,38,male,NaN,10,3,both,negative,negative,YES,...,NaN,6.1,2.1,4.3,0.48,130.0,56,48,YES,YES
911,912,50,male,NaN,20,3,both,negative,negative,NO,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,NaN
917,918,50,female,NaN,20,3,both,negative,negative,NO,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES
927,928,50,male,NaN,18,3,both,negative,negative,NO,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES
929,930,50,male,NaN,20,3,both,negative,negative,NO,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES

### 10. Change place to urban if gender is female else rural

In [60]:
hc_df.loc[((hc_df['Gender']=='female')),"Place"]='rural'
hc_df.loc[((hc_df['Gender']=='male')),"Place"]='urban'
hc_df[hc_df.Place.isnull()]

Empty DataFrame
Columns: [S.NO, Age, Gender, Place, Duration of alcohol consumption(years), Quantity of alcohol consumption (quarters/day), Type of alcohol consumed, Hepatitis B infection, Hepatitis C infection, Diabetes Result, Blood pressure (mmhg), Obesity, Family history of cirrhosis/ hereditary, TCH, TG, LDL, HDL, Hemoglobin  (g/dl), PCV  (%), RBC  (million cells/microliter), MCV   (femtoliters/cell), MCH  (picograms/cell), MCHC  (grams/deciliter), Total Count, Polymorphs  (%) , Lymphocytes  (%), Monocytes   (%), Eosinophils   (%), Basophils  (%), Platelet Count  (lakhs/mm), Total Bilirubin    (mg/dl), Direct    (mg/dl), Indirect     (mg/dl), Total Protein     (g/dl), Albumin   (g/dl), Globulin  (g/dl), A/G Ratio, AL.Phosphatase      (U/L), SGOT/AST      (U/L), SGPT/ALT (U/L), USG Abdomen (diffuse liver or  not), Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)]
Index: []

[0 rows x 42 columns]